@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/variables/selectable-item-style';

.pane {
  background: white;
  padding-bottom: var(--extra-large-padding);
  min-height: 100vh;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
  display: block;
  padding: var(--extra-small-padding) var(--medium-padding);
  /* align text with other typography */
  margin: 0 calc(var(--medium-padding) * -1);
  border-radius: var(--border-radius-small);

  @nest &:hover {
    background: var(--selectable-item-color-hover);
  }
  @nest &:active {
    background: var(--selected-item-color);
    color: white;
  }
}

.searchBar {
  display: inline-block;
}

.inspectorContainer {
  @nest & :global .json-inspector__key, & :global .json-inspector__value {
    position: relative;
  }

  @nest & .interactiveLabel {
    /* overlay original label */
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  @nest & .labelLink {
    color: var(--state-success-color);
    text-decoration: underline;

    @nest &:hover {
      color: var(--state-success-color--faded);
    }
  }

  @nest & .copyLabel {
    color: var(--state-danger-color);

    @nest &:hover {
      color: var(--state-danger-color--faded);
    }
  }

  @nest & .labelIcon {
    width: 11px;
    position: absolute;
    top: 0;
    right: -2px;
    transform: translateX(100%);
  }
}
